<div class="container mt-4">
  <h1 class="employee-header"><%= action_name == "new" ? "Nuevo Empleado" : "Editar Empleado" %></h1>
  <%= render "form", location: @location, employee: @employee %>
</div>
