<h1>Schedules#index</h1>
<div class="container">
<ul>
  <% @schedules.each do |schedule| %>
  <li><%= schedule.schedulable_type %>
 <%= schedule.start_date %>
 <%= schedule.end_date %></li>
  <% end %>
  </ul>
</div>
