<div class="modal fade" data-controller="modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-3">
      <turbo-frame id="modal">
        <%= yield %>
      </turbo-frame>
    </div>
  </div>
</div>
