<nav class="custom-navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <%= link_to "🌾 Mi rancho", root_path, class: "navbar-logo" %>
    </div>
    <div class="navbar-right">
      <%= link_to "Inicio", root_path, class: "navbar-link" %>
      <%= link_to "Actividad", actividad_path, class: "navbar-link" %>
      <%= link_to "Ajustes", ajustes_path, class: "navbar-link" %>
    </div>
  </div>
</nav>
