<h1>Dashboard</h1>
  <h2>My Locations</h2>
  <%= link_to "New", new_location_path, data: { turbo_frame: "dashboard-content" }, class: "btn btn-success" %>
<turbo-frame id="dashboard-content">
</turbo-frame>

<div class="container">
<turbo-frame id='locations'>
  <%#@locations.each do |location| %>
    <%#= render 'locations/location', location: location %>
  <%# end %>
  <%= render @locations %>
</turbo-frame>
</div>
