<div class="card border-success shadow-sm">
  <div class="card-body">
    <h5 class="card-title text-success">Respuesta de Agrobot:</h5>
    <p class="card-text"><%= simple_format(answer) %></p>
  </div>
</div>
